<% provide(:title, 'Стартовая страница') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <div class="center">
      <% if logged_in? %>
        <h1>
          Вы авторизованы как <%= current_user.name %>
        </h1>
        <% if current_user.admin? %>
          <%= link_to "Панель администратора", users_path, class: "btn btn-success" %>
        <% end %>
      <% else %>
        <h2>Добро пожаловать, незнакомец</h2>
        <div>
          <%= image_tag("cat.png", size: "152x93") %>
        </div>
        <%= link_to "Войти в систему", login_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </body>
</html>
