<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.created_at.strftime("%d-%m-%Y %H:%M") %></td>
  <td>
    <%= if user.last_sign_in
      user.last_sign_in.strftime("%d-%m-%Y %H:%M")
    else
      "-"
    end %>
  </td>
  <% if current_user.admin? %>
    <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
    <% if !current_user?(user) %>
    <td><%= link_to "Удалить", user, method: :delete,
                data: { confirm: "Удалить пользователя?" } %></td>
    <% end %>            
  <% end %>
</tr>
